<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Details</title>
    <link rel="stylesheet" href="detail.css">

</head>

<body>
    <div class="container">
        <h1>Blog Details</h1>
        <div class="blog-details">
            <div class="blog-info" hidden>
                <label for="blogCode">블로그 코드:</label>
                <span id="blogCode" th:text="${ blog.blogCode }"></span>
            </div>
            <div class="blog-info">
                <label for="blogTitle">블로그 제목:</label>
                <span id="blogTitle" th:text="${ blog.title }"></span>
            </div>
            <div class="blog-info">
                <label for="blogContent">블로그 내용:</label>
                <span id="blogContent" th:text="${ blog.content }"></span>
            </div>
            <div class="blog-info">
                <label for="blogId">작성자:</label>
                <span id="blogId" th:text="${ blog.blogId }"></span>
            </div>
            <table>
                <caption>댓글</caption>
                <thead>
                <tr>
                    <th>댓글 내용</th>
                    <th>댓글 작성일</th>
                    <th>댓글 ID</th>
                </tr>
                </thead>
                <tbody id="commentList"></tbody>
            </table>


        </div>
    </div>

    <script>
        fetch('/commentByBlog')
            .then(res => res.json())
            .then(data => {
                const commentList = document.getElementById('commentList');

                data.forEach(comment => {
                    const row = document.createElement('tr');
                    row.innerHTML = `
                        <td>${comment.comment}</td>
                        <td>${comment.commentDate}</td>
                        <td>${comment.cmtId}</td>
                    `;
                    commentList.appendChild(row);
                });
            });
    </script>


    </body>
    </html>
