<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>selected menu</title>
</head>
<body>
<table>
    <tr>
        <th>블로그 코드</th>
        <th>블로그 제목</th>
        <th>블로그 내용</th>
        <th>작성자</th>
        <th>댓글 코드</th>
    </tr>
    <tr>
        <td th:text="${ blog.blogCode }"></td>
        <td th:text="${ blog.title }"></td>
        <td th:text="${ blog.content }"></td>
        <td th:text="${ blog.blogId }"></td>
        <td th:text="${ blog.commentCode }"></td>
    </tr>
</table>
</body>
</html>
</body>
</html>