<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>나의 블로그</title>
    <link rel="stylesheet" href="main.css">

</head>
<body>
<header>
    <h1>나의 블로그</h1>
    <nav>
        <ul>
            <li><a href="#">홈</a></li>
            <li><a href="#">글쓰기</a></li>
            <button onclick="location.href='/blog/1'">특정 메뉴 목록 보기</button>
        </ul>
    </nav>
</header>

<section class="card">
    <article>
        <tr th:each="blogList : ${ blogList }">
            <th th:text="${ menu.menuCode }"></th>
            <th th:text="${ menu.menuName }"></th>
            <th th:text="${ menu.menuPrice }"></th>
            <th th:text="${ menu.categoryCode }"></th>
            <th th:text="${ menu.orderableStatus }"></th>
        </tr>
    </article>
    <article>
        <h2>두 번째 포스트</h2>
        <p>이곳에 포스트 내용이 들어갑니다.</p>
    </article>
    <article>
        <h2>세 번째 포스트</h2>
        <p>이곳에 포스트 내용이 들어갑니다.</p>
    </article>
</section>

<footer>
    <p>&copy; 2024 나의 블로그</p>
</footer>
</body>
</html>