<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>나의 블로그</title>
    <link rel="stylesheet" href="main.css">

    <!-- jQuery CDN 추가 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<header>
    <h1>나의 블로그</h1>
    <nav>
        <ul>
            <li><a href="#">홈</a></li>
            <li><a href="/blog/insert">글쓰기</a></li>
            <button onclick="location.href='/detail/1'">특정 메뉴 목록 보기</button>
            <button onclick="location.href='/blog/modify'">글 수정하기</button>
            <button onclick="location.href='/blog/delete'">글 삭제하기</button>
        </ul>
    </nav>
</header>

<!-- 검색 입력란 추가 -->
<div class="search-container">
    <form action="/blog/search">
    <input type="text" id="title" name="title" placeholder="검색어를 입력하세요...">
    <button type="button" >검색</button>
    </form>
</div>


<section class="card">
    <article th:each="blogList : ${blogList}">
        <h2><span th:text="${blogList.title}" ></span></h2>
        <table>
            <tr>
                <td><span th:text="${blogList.blogCode}" hidden></span></td>
                <td><span th:text="${blogList.content}"></span></td>
            </tr>
        </table>
    </article>
</section>

<div class="comment-container">
    <form action="/comment/insert" method="post">
        <div class="form-group">
            <label for="comment">comment:</label>
            <input type="text" id="comment" name="comment">
        </div>
        <div class="form-group">
            <label for="cmtId">cmtId:</label>
            <input type="text" id="cmtId" name="cmtId" >
        </div>
        <div class="form-group">
            <label for="commentDate">commentDate:</label>
            <input type="date" id="commentDate" name="commentDate">
        </div>
        <div class="form-group">
            <label for="blogCode">blogCode:</label>
            <input type="text" id="blogCode" name="blogCode">
        </div>
        <div class="form-group">
            <button type="submit">작성 완료</button>
        </div>
    </form>
</div>


<footer>
    <p>&copy; 2024 나의 블로그</p>
</footer>




</body>
</html>
